<!DOCTYPE html>
<html>

<head>
  <title>Toy Shop</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <header>

    <nav class="nav content-center  ">
    
    <h1><img src ="https://image.shutterstock.com/image-vector/toy-shop-shelves-toys-big-260nw-1812453646.jpg" width="100" height="100"></h1>
      <h1><a class="nav" href="/">Home</a></h1>
      
      <h1><a class="nav" href="/toy">Admin</a></h1>
      <h1><a class="nav" href="/toy/list">Customer</a></h1>
      <h1><a class="nav" href="/lego">Lego</a></h1>
      <h1><a class="nav" href="/car">Car</a></h1>
      
    </nav>

  </header>

  {{!-- render ra body của từng webpage --}}
  {{{body}}}


</body>

</html>